@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* TODO: Remove when there's desktop version */
  background: #2b2b2e;

  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* TODO: Remove when there's desktop version */
body {
  margin: 0 auto;
}

/* React Calendar styles */

.react-calendar__navigation {
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
}

.react-calendar__navigation__label__labelText {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #a5f59c;
}

.react-calendar__tile abbr {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 8px auto;
}

.react-calendar__tile--active abbr {
  background: #246bfd; /* Primary */
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #5e6272; /* Deactive */
}

.react-calendar__month-view__weekdays__weekday abbr {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #5e6272;
}

.react-calendar__month-view__weekdays__weekday {
  height: 32px;
  margin-bottom: 8px;
}

/* Streak Calendar */
.streak-calendar {
  color: white;
}

.streak-calendar-navigation {
  display: flex;
  padding: 24px 16px;
  justify-content: space-between;
}

.days-of-week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 5px;
}

.streak-calendar .label-text {
  font-family: var(--font-poppins);
  font-weight: 600;
  font-size: 18px;
  line-height: 32px;
}

.streak-calendar .day {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 8px auto;
  color: #5e6272;
}

.streak-calendar .habit-streak {
  background-color: #c25fff;
  color: #fff;
}

.streak-calendar .failed {
  position: relative;
}

.streak-calendar .failed::before {
  content: "!";
  color: #ff2c2c;
  position: absolute;
  top: 0;
  right: 0;
}

.streak-calendar .today {
  background: #246bfd; /* Primary */
  color: #fff;
}

.streak-calendar .today.habit-streak {
  background-color: #c25fff;
}

.streak-calendar .day-of-week {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #5e6272;
  height: 32px;
  margin-bottom: 8px;
}
